.header {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 20px;
    box-shadow: 0 4px 6px var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  
  .header-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .nav {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
  
  .nav-link:hover {
    color: var(--hover-color);
    text-decoration: underline;
  }
  

  .icon{
    color: white;
    font-size: 30px;
    cursor: pointer;
  }

  .icon:hover{
    color: var(--hover-color);
  }